<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="theme-color" content="#393646" />
    <link rel="icon" href="./fav-icon.png" />
    <link rel="manifest" href="app.webmanifest" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
      crossorigin="anonymous"
    />
    <title>Restaurants App</title>
    <meta
      name="description"
      content="a complete solution for foodies who want to find the best restaurants"
    />
  </head>

  <body>
    <a href="#thecontent" class="skip">To the Content</a>
    <header>
      <div class="headerinner">
        <ul class="nav-mob">
          <li><button id="drawer" href="#" class="menu_drawer">☰</button></li>
        </ul>
        <h1 class="headertitle">Restaurants App</h1>
        <nav id="navbar" class="nav">
          <ul class="navlist">
            <li class="navitem"><a href="#">Home</a></li>
            <li class="navitem"><a href="#/favorite">Favorite</a></li>
            <li class="navitem">
              <a href="https://www.linkedin.com/in/rachelsola/"
                >About Us</a
              >
            </li>
          </ul>
        </nav>
      </div>
    </header>
    <div class="hero">
      <div class="hero_inner">
        <h1 class="hero_title">Restaurants Recommendation</h1>
        <p class="hero_desc">This website provides a variety of typical Indonesian foods, including heavy meals, traditional snacks, and various types of refreshing drinks</p>
      </div>
    </div>
    <main id="thecontent" tabindex="0"></main>
    <footer>
      <p>Restaurants App by Rachel Sola Gracia &#169; 2024</p>
    </footer>
  </body>
</html>
